:root {
    --color-accent: #d60015;
    --color-accent-soft: #dd6975;
    --color-bg: #f2f2f2;
    --color-base: #ccc;
    --color-text-header: #9c9c9c;
    --color-text-body: #707070;
    --color-hovered: #3b2a2a;
    --color-focused: #3b2a2a;
    --corner-radius: 10px;
}

/* ------------------ Site-wide styles for text, etc. -------------- */

body,
h2,
h3,
h4 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5;
    color: var(--color-text-header);
    margin: 0;
}

body {
    font-size: 12pt;
    color: var(--color-text-body);
    text-align: left;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 44pt;
    letter-spacing: 0.05em;
    color: var(--color-accent);
    margin: 0;
}

h2 {
    font-size: 30pt;
}

h3 {
    font-size: 22pt;
}

h4 {
    font-size: 14pt;
    font-style: italic;
    margin: 0 0 1em 0;
}

p {
    margin: 0 0 1em 0;
}

a {
    color: var(--color-accent);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.basic-img {
    width: 300px;
    height: 300px;
    border-radius: var(--corner-radius);
}

.site-header {
    display: flex;
    flex-direction: column;
    gap: 0em;
    align-items: center;
    padding: 4em 1em 0.5em 1em;
    border-bottom: 1px solid #e6e6e6
}



/* ----------------------- Tabs (top-level 'page-like' grouping) ------------------------ */
:root {
    --fade-out-duration: 250ms;
    --fade-in-duration: 500ms;
}

[role="tablist"] {
    display: flex;
    gap: 10px;
}

[role="tab"] {
    color: var(--color-text-header);
    font-size: 20pt;
    font-weight: 400;
    letter-spacing: 0.05em;
    cursor: pointer;
    text-align: center;
    padding: 5px 15px;
    transition: color 150ms ease;
}
[role="tab"]:hover {
    color: var(--color-hovered);
}
[role="tab"][aria-selected="true"] {
    color: var(--color-focused);
    
}

/* Tabpanels are hidden using display:none and faded in/out using opacity */
.tabpanel {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding-top: 40px;
    padding-bottom: 100px;
    /*background:yellow;*/
    opacity: 1;
    transition: opacity ease;
    will-change: opacity;
}
.tabpanel.hidden {
    display: none;
    opacity: 0;
}

/* Utility classes used during transition */
.tabpanel.fading-out {
    opacity: 0;
    transition-duration: var(--fade-out-duration);
}
.tabpanel.fading-in {
    opacity: 0;
    transition-duration: var(--fade-in-duration);
}
.tabpanel.fading-in.visible {
    opacity: 1;
}

/* Reduced motion */
@media (prefers-reduced-motion: reduce) {
    .tabpanel {
        transition: none !important;
    }
}

/* Tabpanel container for main content of each tab */
main#main-content {
    display: flex;
    justify-content: center;
}

#center-column {
    width: 850px;
}


/* ------------------ Panels and their content -------------------- */

.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background: green;*/
}

.panel>p {
    width: 100%;
}

.standalone-link {
    padding: 5px 10px;
}

.link-list {
    display: flex;
    gap: 30px;
}

.principle-card {
    border: 0px solid grey;
    text-align: center;
    text-wrap: true;
    width: 40%;
    flex-grow: 1;
    margin: 30px;
}

.principle-bird {
    max-width: 80px;
    aspect-ratio: 1/1;
}

.quote-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 30px 0px;
}

.quote-card {
    flex: 1 1 400px;
    min-width: 100px;
    max-width: max-content;
    box-sizing: border-box;

    background: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
    text-align: left;
}

.quote-card,
.quote-card>* {
    overflow-wrap: anywhere;
    word-break: break-word;
    box-sizing: border-box;
    white-space: normal;
}

.quote-text {
    font-style: italic;
    margin: 0 0 10px 0;
    line-height: 1.4;
}
